{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}
<div class="pt-3 form ">
    {{ form_start(form) }}
    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text">Categorie </span>
        </div>
        {{ form_widget(form.categorie) }}
    </div>
    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text">Titre </span>
        </div>
        {{ form_widget(form.titre) }}
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Description </span>
        </div>
        {{ form_widget(form.description) }}
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-success"><i class="fas fa-upload"></i> {{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

</div>